<div class="card-container">
    <div class="card">
        <h3 class="card-title">CHANGE PASSWORD</h3>
        <hr class="separator">

        <form id="changePwForm" class="form-body">
            <div class="form-group">
                <label for="oldPassword">Email</label>
                <input 
                    type="text" 
                    id="nowEmail"
                    name="nowEmail" 
                    required 
                    minlength="8" 
                    placeholder="Enter your current email">
            </div>
            
            <div class="form-group">
                <label for="oldPassword">Current Password</label>
                <input 
                    type="password" 
                    id="oldPassword"
                    name="oldPassword" 
                    required 
                    minlength="8" 
                    placeholder="Enter your current password">
            <i class="fa-solid fa-eye" id="toggleOldPassword"></i>
            <span class="error-message" id="passwordError"></span>
            </div>

            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input 
                    type="password" 
                    id="newPassword"
                    name="newPassword" 
                    required 
                    minlength="8"
                    placeholder="Enter your new password">
                <i class="fa-solid fa-eye" id="toggleNewPassword"></i>
                <span class="error-message" id="passwordError"></span>
                <div class="form-help">
                    Mật khẩu phải có tối thiểu 8 ký tự.
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <input 
                    type="password" 
                    id="confirmPassword"
                    name="confirm" 
                    required 
                    minlength="8"
                    placeholder="Confirm your new password">
                <i class="fa-solid fa-eye" id="toggleConfirmPassword"></i>
                <span class="error-message" id="passwordError"></span>
            </div>
            <div class="form-actions">
                <span id="cpwMsg" class="message success"></span>
                <button type="submit" class="btn primary-btn">Update</button>
            </div>
        </form>
    </div>
</div>