<section class="stats-container">
    <div class="stat-item">
        <div class="stat-icon icon-blue">
            <i class="fa-solid fa-users"></i>
        </div>
        <div class="stat-number text-blue">15,000+</div>
        <div class="stat-label" data-i18n-key="Sinh_viên">Sinh viên</div>
    </div>
    
    <div class="stat-item">
        <div class="stat-icon icon-red">
            <i class="fa-solid fa-chalkboard-user"></i>
        </div>
        <div class="stat-number text-red">500+</div>
        <div class="stat-label" data-i18n-key="Giảng_viên">Giảng viên</div>
    </div>

    <div class="stat-item">
        <div class="stat-icon icon-green">
            <i class="fa-solid fa-building"></i>
        </div>
        <div class="stat-number text-green">20+</div>
        <div class="stat-label" data-i18n-key="Khoa_viện">Khoa/Viện</div>
    </div>

    <div class="stat-item">
        <div class="stat-icon icon-pink">
            <i class="fa-solid fa-globe"></i>
        </div>
        <div class="stat-number text-pink">50+</div>
        <div class="stat-label" data-i18n-key="Đối_tác">Đối tác quốc tế</div>
    </div>
</section>