<div id="globalConfirmModal" class="modal-overlay" style="display: none; z-index: 10000;">
    <div class="modal-content modal-small">
        <h3 class="modal-title" id="globalConfirmTitle">Xác nhận</h3>
        
        <p id="globalConfirmMessage"></p>
        
        <div class="modal-actions-footer">
            <button type="button" class="btn-cancel" id="globalConfirmCancelBtn">
                Hủy
            </button>
            <button type="button" class="btn-danger" id="globalConfirmOkBtn">
                Xóa
            </button>
        </div>
    </div>
</div>