<footer class="main-footer">
    <div class="footer-content">
        
        <!-- About Section -->
        <div class="footer-column footer-about">
            <img src="/images/Logo1.png" alt="USTH Logo" class="footer-logo">
            <p>
                <span data-i18n-key="name_uni1">
                    Đại học Khoa học và Công nghệ Hà Nội
                </span>
                <br>
                <span data-i18n-key="name_uni2">
                    Trường Đại học Việt Pháp
                </span>
            </p>
        </div>

        <!-- Links Section -->
        <div class="footer-column footer-links">
            <h4 data-i18n-key="Sinh_viên">Sinh viên</h4>
            <ul>
                <li><a href="#" data-i18n-key="congthongtin">Cổng thông tin sinh viên</a></li>
                <li><a href="#" data-i18n-key="Thư_viện">Thư viện</a></li>
                <li><a href="#" data-i18n-key="Ký_túc_xá">Ký túc xá</a></li>
                <li><a href="#" data-i18n-key="Hoạt_đong_sinh_viên">Hoạt động sinh viên</a></li>
            </ul>
        </div>

        <!-- Contact Section -->
        <div class="footer-column footer-contact">
            <h4 data-i18n-key="Liên_hệ">Liên hệ</h4>
            <ul>
                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    <span data-i18n-key="Địa_chỉ">
                        Tòa nhà A21, 18 Hoàng Quốc Việt, Cầu Giấy, Hà Nội
                    </span>
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <a href="tel:+842437916960">+84-24 37 91 69 60</a>
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:officeusth@usth.edu.vn">officeusth@usth.edu.vn</a>
                </li>
            </ul>
        </div>

        <!-- Social Media Section -->
        <div class="footer-column footer-social">
            <h4 data-i18n-key="Theo_dõi_chúng_tôi">Theo dõi chúng tôi</h4>
            <div class="social-links">
                <a href="https://www.facebook.com/USTH.official" target="_blank" aria-label="Facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.youtube.com/@USTHofficial" target="_blank" aria-label="YouTube">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://www.linkedin.com/school/usth/" target="_blank" aria-label="LinkedIn">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://twitter.com/USTH_official" target="_blank" aria-label="Twitter">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>
        </div>

    </div>

</footer>