<div id="home-content" class="page-content active">
    <%- include('../../components/banner') %>
    <%- include('../../components/stats') %>
    <%- include('../../components/news') %>
</div>

<div id="danh-sach-lop-content" class="page-content">
    <div class="page-title-header">
        <h2>Danh sách lớp giảng dạy</h2>
        <p>Các lớp học phần được phân công trong học kỳ này.</p>
    </div>
    <div id="class-grid" class="class-grid-container"></div>
</div>
