* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}
