.form-container {
    height: 340px;
}

/* Title */
.login-text {
    font-size: var(--font-size-title);
}

/* Icon envelope */
.fa-solid {
    font-size: 80px;
}

/* Reset password text */
/* .reset-password {
    margin-left: 60px;
    text-align: center;
    max-width: 280px;
   
} */
.reset-password {
    text-align: center;
    max-width: 280px;
    margin: 0 auto;       /* căn giữa khối */
}

.Enter {
    color: var(--text-secondary);
    font-size: var(--font-size-small);

   
}

/* Button spacing */
.login-btn-sign-in {
    margin-top: var(--spacing-30);
}

/* Button size */
.sign-in-text {
    width: 300px;
    font-size: var(--font-size-button-large);
}
