.form-container {
    height: 400px;
}

/* Title */
.login-text {
    font-size: var(--font-size-title);
}

/* Reset password text */
/* .reset-password {
    margin-left: 60px;
    text-align: left;
    max-width: 280px;
    text-align: center;
} */
.reset-password {
    text-align: center;
    max-width: 280px;
    margin: 0 auto;       /* căn giữa khối */
}


.Enter {
    color: var(--text-secondary);
    font-size: var(--font-size-small);
}

/* Button spacing */
.login-btn-sign-in {
    margin-top: var(--spacing-50);
}

/* Button size */
.sign-in-text {
    width: 300px;
    font-size: var(--font-size-button-large);
}