.form-container {
    height: 340px;
}

/* Layout xếp dọc */
.xep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes check-appear {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Icon check */
.fa-solid {
    margin-top: var(--spacing-50);
    font-size: 138px;
    color: var(--primary-color);
    /* transition: 1s; */
    animation: check-appear 1s ease-out 0s forwards;
}

.fa-solid.show-check {
    opacity: 1;
    transform: scale(1);
}


/* Title */
.login-text {
    font-size: var(--font-size-title);
    padding-top: var(--spacing-20);
    color: var(--primary-color);
}

/* Span text */
span {
    font-size: 12px;
    color: var(--primary-color);
}